.topo {
    width: 100%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #071a52;
    font-family: 'Poppins', sans-serif;

    position: fixed;
    top: 0;
    z-index: 1000;
}

.topo div h1 {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff
}

.topo nav {
    display: flex;
    gap: 20px;
}

.topo nav a {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.ativo {
    background-color: #17b978;
    color: #fff;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .topo {
        height: auto;
        padding: 5px 0;
        text-align: center;
    }

    .topo div h1 {
        font-size: 20px;
        /* Reduz o tamanho do título */
    }

    .topo nav {
        
        gap: 5px;
    }

    .topo nav a {
        font-size: 12px;
        /* Reduz o tamanho da fonte dos links */
        padding: 2px 6px;
        /* Ajusta o espaçamento interno */
    }
}

/* Responsividade para telas muito pequenas (ex.: smartphones) */
@media (max-width: 480px) {

.topo {
        height: 5vh;
        padding: 5px 0;
        text-align: center;
    }
    
    .topo div h1 {
        font-size: 12px;
    }

    .topo nav a {
        font-size: 6px;
        padding: 4px 6px;
    }
}